// Normalize Styles
@import 'node_modules/normalize.css/normalize';
// @import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/font-awesome/scss/font-awesome.scss';


// Import Modules
// @import '../_modules/link/link'; 

// Box sizing partial styles:
// Apply a natural box layout model to all elements

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}

.navbar {
  background-color: rgba(21,31,33,0.5);
  border-bottom: 1px solid #dedede;
  font-family: 'Alegreya Sans', sans-serif;
}

.navbar .nav .nav-item .nav-link {
  color:#d1d1d1;
}

.navbar .nav .nav-item .nav-link:hover {
  color:#fff;
}

.navbar-toggler {
  color:white;
}










