// Normalize Styles
@import 'node_modules/normalize.css/normalize';
// @import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/font-awesome/scss/font-awesome.scss';
@import 'node_modules/font-awesome-animation/src/_font-awesome-animation.scss';

// Import Modules
// @import '../_modules/link/link';

// Box sizing partial styles:
// Apply a natural box layout model to all elements

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}
// @media screen (max-height: 768px){
//
//   #footer {
//     text-align: center;
//   }
// }

.btn{
  transition: all 0.3s ease-in-out;
}

.navbar {
  background-color: rgba(21,31,33,0.5);
  border-bottom: 1px solid #dedede;
  font-family: 'Alegreya Sans', sans-serif;

}

.navbar .nav .nav-item .nav-link {
  color:white;
  padding: 5px;
}

.navbar .nav .nav-item .nav-link:hover {
  color:black;
  background-color: white;
}

.navbar-toggler {
  color:white;
}
// header
.container-fluid {
  margin-left: inherit;
  margin-right: inherit;
}
#header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(/images/cover%20photo.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center center fixed , center center fixed;
  background-size: cover, cover;
  // width:100%;
  height: 100%;
  color: white;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
#header {
  a{
    text-decoration: none;
    color: white;
  }
  h1 {
    padding-top: 40vh;
  }
}
#header .right {
    // position: absolute;
    // right: 0px;
    // width: 500px;
}
#header .right h1 {
  font-family: 'Racing Sans One', cursive;
  font-size: 45px;
  text-shadow: 2px 2px grey;
}
#header a {
  border-bottom: 2px solid white;
  white-space: nowrap;
}

#header {
  .right p {
    font-family: 'Racing Sans One', cursive;
    font-size: 20px;
    padding-right: 90px;
    text-shadow: 2px 2px grey;
    float: right;

  }
  .left {
    font-family: 'Racing Sans One', cursive;
    text-shadow: 2px 2px grey;
  }

  .chevron{
    // position:absolute;
    // bottom: 80px;
    // width: 100px;
    // margin:0px 0 0 -60px;
    // left:50%;
  }
  .chevron,
  .button-case {
    a {
      border: none;
    }
  }
  .list-inline-item .fa{
    font-size: 35px;
    color: white;
    border: 2px solid white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    padding: 30% ;
  }
  .fa:hover {
    color: black;
    background-color: white;
  }

  .fa {
    color:white;
  }
}

// about

#about{
  // width:100%;
  // height:100%;
  padding:5rem 0;
}

.sectiont {
  text-align: center;
  font-family: 'Racing Sans One', cursive;
}
#about p {
  text-align: center;
  padding: 10px;
}
#about img{
  display:block;
  margin:0 auto;
  width:20%;
  border-radius: 50%;
  padding: 20px;
}
// portfolio

#portfolio{
  padding:5rem 0;
  background-color: #f6f6f6;
  // width:100%;
  // height: 100%;

}


#portfolio .portfolio-img .img-overlay  {
  position: absolute;
  top:0;
  left:0;
  background-color:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  background-image: url(../images/eye.png);
  background-position: center center;
  background-repeat: no-repeat;
  opacity:0;
  z-index:0;
  transition:all 0.5s ease-in-out;
}
#portfolio .content  {
  // overflow: scroll;
  // height: 768px;
  // width: 100%;
}

#portfolio .portfolio-img{
  position: relative;
}

#portfolio .portfolio-img .img-overlay:hover{
  opacity: 1;
  z-index: 1;
}
// contact

#contact {
  padding:5rem 0;
}

#contact {
  background: url(../images/contact_header.jpg) center center no-repeat;
  background-size: cover;
  // height:50%;
}

#contact .form-back{
  background-color: rgba(0,0,0,0.5);
  padding:30px;
  border-radius:2%;
  // width:50%;
  // margin: 0px 0 0 25%;
}

// footer

#footer{
  padding:2rem 0;
  background-color: #484848;
  color:white;
}

#footer a{
  color:white;
}

#footer a:hover{
  color:black;
}
#footer .fa {
  padding: 0 5px;
}
