// Normalize Styles
@import 'node_modules/normalize.css/normalize';
// @import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/font-awesome/scss/font-awesome.scss';
@import 'node_modules/font-awesome-animation/src/_font-awesome-animation.scss';

// Import Modules
// @import '../_modules/link/link'; 

// Box sizing partial styles:
// Apply a natural box layout model to all elements

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}

@media(max-width:768px) {
  #header .right{
    margin: 0 auto;
  }

}
.clearfix {
    overflow: auto;
}
.btn{
  transition: all 0.3s ease-in-out;
}
.navbar {
  background-color: rgba(21,31,33,0.5);
  border-bottom: 1px solid #dedede;
  font-family: 'Alegreya Sans', sans-serif;

}

.navbar .nav .nav-item .nav-link {
  color:white;
  padding: 5px;
}

.navbar .nav .nav-item .nav-link:hover {
  color:grey;
}

.navbar-toggler {
  color:white;
}
// header

#header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(/images/cover%20photo.jpg); 
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: cover, cover; 
  width:100%;
  height: 100%;
  color: white;
  display:flex;
  align-items:center; 
}


#header .right {
    position: absolute;
    right: 0px;
    width: 500px;
}
#header .right h1 {
  font-family: 'Racing Sans One', cursive;
  font-size: 45px;
  text-shadow: 2px 2px grey;
}

#header .right p {
  font-family: 'Racing Sans One', cursive;
  font-size: 20px;
  padding-right: 90px;
  text-shadow: 2px 2px grey;
  float: right;

}
#header .left {
    position: absolute;
    left: 100px;
    width: 500px;
    font-family: 'Racing Sans One', cursive;
    font-size: 65px;
    text-shadow: 2px 2px grey;
}
#header .chevron{
  position:absolute;
  bottom: 80px;
}

#header .fa {
  color:white; 
}

#header .fa:hover {
  color:grey;
}







