extends _layouts/base

include _modules/link/link

block content
  nav.navbar.navbar-fixed-top

    button.navbar-toggler.hidden-sm-up(type="button", data-toggle="collapse", data-target="#navigation")
      |&#9776;

    #navigation.collapse.navbar-toggleable-xs
      ul.nav.navbar-nav
        li.nav-item
          a.nav-link(href="#header") Home
        li.nav-item
          a.nav-link(href="#about") About
        li.nav-item
          a.nav-link(href="#portfolio") Portfolio
        li.nav-item
          a.nav-link(href="#contact") Contact
    //- header-//

  section#header
    .container-fluid
      .row
        .col-md-6.left.hidden-md-down
          h1 Front End Developer
          hr(align="left" width="79%" color="white")
        .col-md-6.right
          h1 Personal Portfolio
          hr(align="left" width="80%" color="white")
          p.lead - Carol Enache
      .row.chevron
        .col-md-12.text-xs-center
          a(href="#about")
            i.fa.fa-chevron-down.faa-float.animated.fa-3x

        //- about
  section#about
    .container
      .row
        .col-md-12
          h1 about





