extends _layouts/base

include _modules/link/link

block content
  nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    button.navbar-toggler.navbar-toggler-left(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='#')
    #navbarNav.collapse.navbar-collapse.navbar-toggleable-xs
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href='#')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') About
        li.nav-item
          a.nav-link(href='#') Portfolio
        li.nav-item
          a.nav-link(href='#') Contact
    //- Home
  #home
    .container
      .row
        .col-md-12
          h1
