extends _layouts/base

include _modules/link/link

block content
  nav.navbar.navbar-fixed-top

    button.navbar-toggler.hidden-sm-up(type="button", data-toggle="collapse", data-target="#navigation")
      |&#9776;

    #navigation.collapse.navbar-toggleable-sm
      ul.nav.navbar-nav
        li.nav-item
          a.nav-link(href="#header") HOME
        li.nav-item
          a.nav-link(href="#about") ABOUT
        li.nav-item
          a.nav-link(href="#portfolio") PORTFOLIO
        li.nav-item
          a.nav-link(href="#contact") CONTACT
    //- header-//

  section#header
    .container-fluid
      .row
        .col-md-6.left.hidden-md-down
          a(href="#about")
            h1 Front End Developer
            hr(align="left" width="79%" color="white")
        .col-md-6.col-sm-12.right
          a(href="#portfolio")
            h1 Personal Portfolio
            hr(align="left" width="80%" color="white")
            p.lead - Carol Enache


      .row
        .col-md-6.button-case.col-xs-12
          ul.list-inline
            li.list-inline-item
              a(href="https://www.facebook.com/enache.carol" target="_blank")
                i.fa.fa-facebook
            li.list-inline-item
              a(href="https://github.com/CarolEnache" target="_blank")
                i.fa.fa-github
            li.list-inline-item
              a(href="https://www.linkedin.com/in/carol-enache-59504294/" target="_blank")
                i.fa.fa-linkedin
            li.list-inline-item
              a(href="https://www.freecodecamp.com/carolenache" target="_blank")
                i.fa.fa-free-code-camp
            li.list-inline-item
              a(href="http://codepen.io/CarolEnache/" target="_blank")
                i.fa.fa-codepen

      .row.chevron
        .col-md-12
          a(href="#about")
            i.fa.fa-chevron-circle-down.faa-float.animated.faa-fast.fa-3x

        //- about
  section#about
    .container
      h2.sectiont About
      hr.hrs(align="center" width="15%" color="white")
      p.lead Hi, I’m Carol. I have more than 10 years experience in hospitality management, working in high-end venues in Bucharest, London and Abu Dhabi. I’m currently refocussing my carrier in order to become a Software engineer.
      p.lead Meeting deadlines, ability to plan, customer service, leadership, working independently, researching, being adaptable, ability to explain things to others and most of all, being self-motivated are just some of my transferable skills.
      p.lead I have proficient knowledge in HTML 5, CSS 3, Javascript, and JQuery. I am also familiar with Node, Sass, Jade, Gulp and Git.
      p.lead On my spare time I love road trips, good wine, excellent food and  acid jazz.
      img(src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAIlAAAAJDNiNDNhYjg3LWQwYmUtNGViNS04ZjM4LWVhZTQyZjhjZGQxZA.jpg" width="50px" heigth="50px" alt="Carol img")
      br
      h2.sectiont Skils
      hr(align="center" width="15%")
  //- portfolio

  section#portfolio
    .container
      .row

        .col-md-12
          h2.sectiont Portfolio
          hr(align="center" width="30%")
      br
      .content
        .row
          .col-md-3.col-sm-6
              
              .card
                .portfolio-img
                  a(href="http://codepen.io/CarolEnache/pen/zNzrBv" target="_blank")
                    img.card-img-top.img-fluid(src='http://www.pbsacademy.com/wp-content/uploads/2015/08/Da-Jerry-Thomas-ad-oggi.jpg', alt='Card image cap')
                    .img-overlay
                .card-block
                  h4.card-title Tribute Page
                  p.card-text
                    | This is a tribute page to Jerry Thomas, as part of a chalage on FreeCodeCamp.

          .col-md-3.col-sm-6

            .card
              .portfolio-img
                a(href="#")
                  img.card-img-top.img-fluid(src='http://lorempixel.com/350/150?4', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Work in progress
                p.card-text
                  | Coming soon.

          .col-md-3.col-sm-6

            .card
              .portfolio-img
                a(href="#")
                  img.card-img-top.img-fluid(src='http://lorempixel.com/350/150?44', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Work in progress
                p.card-text
                  | Coming soon.

          .col-md-3.col-sm-6

            .card
              .portfolio-img
                a(href="#")
                  img.card-img-top.img-fluid(src='http://lorempixel.com/350/150?9', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Work in progress
                p.card-text
                  | Coming soon.




        .row
          .col-md-3.col-sm-6

            .card
              .portfolio-img
                a(href="#")
                  img.card-img-top.img-fluid(src='http://lorempixel.com/350/150?5', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Work in progress
                p.card-text
                  | Coming soon.

          .col-md-3.col-sm-6

            .card
              .portfolio-img
                a(href="#")
                  img.card-img-top.img-fluid(src='http://lorempixel.com/350/150?6', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Work in progress
                p.card-text
                  | Coming soon.

          .col-md-3.col-sm-6

            .card
              .portfolio-img
                a(href="#")
                  img.card-img-top.img-fluid(src='http://lorempixel.com/350/150?7', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Work in progress
                p.card-text
                  | Coming soon.

          .col-md-3.col-sm-6

            .card
              .portfolio-img
                a(href="#")
                  img.card-img-top.img-fluid(src='http://lorempixel.com/350/150?', alt='Card image cap')
                  .img-overlay
              .card-block
                h4.card-title Work in progress
                p.card-text
                  | Coming soon.
        //- contact

  section#contact
    .container-fluid
      .row
        .col-md-12
          h2.sectiont Get in touch 
          hr(align="center" width="30%")
          

      .row
        .col-md-12.form-back
          form(action="mailto:enache.carol@gmail.com" method="post" enctype="text/plain")
            .col-md-12
              fieldset.form-group
                input#email.form-control.form-control-lg(type="email" placeholder="email")
              fieldset.form-group
                input#name.form-control.form-control-lg(type="text" placeholder="name")
              fieldset.form-group
                textarea#message.form-control.form-control-lg(placeholder="message" rows="3")
              button.btn.btn-outline-info.btn-block(type="submit" value="send") Submit
      //- footer

  section#footer
    .container
      .row

        .col-md-8.col-sm-6
          h3 About me:
          p Lorem ipsum dolor sit amet, convenire patrioque referrentur id qui, idque affert petentium nec ei. 
          p Quo an graeci placerat, te simul adipisci principes mei, in ipsum eirmod ullamcorper vim. Posse legere intellegat eu mea. Ea legendos suavitate cum.
          ul.list-inline
            li.list-inline-item
              a(href="https://www.facebook.com/enache.carol" target="_blank")
                i.fa.fa-facebook
            li.list-inline-item
              a(href="https://github.com/CarolEnache" target="_blank")
                i.fa.fa-github
            li.list-inline-item
              a(href="https://www.linkedin.com/in/carol-enache-59504294/" target="_blank")
                i.fa.fa-linkedin
            li.list-inline-item
              a(href="https://www.freecodecamp.com/carolenache" target="_blank")
                i.fa.fa-free-code-camp
            li.list-inline-item
              a(href="http://codepen.io/CarolEnache/" target="_blank")
                i.fa.fa-codepen
        .col-md-4.col-sm-6
          h3 Say hello:
          ul.list-unstyled
            li
              i.fa.fa-map-marker
                strong
                  | Location: 
                | London, UK.
            li
              a(href="mailto:enache.carol@gmail.com")
                i.fa.fa-envelope
                  strong
                    | Email: 
                  | enache.carol@gmail.com
            li
              i.fa.fa-mobile
                strong
                  | Phone: 
                | 07496046247
      .row
        .col-md-12
          p &copy; 2017 Designed by Carol Enache


             
               








