extends _layouts/base

include _modules/link/link

block content
  nav.navbar.navbar-fixed-top

    button.navbar-toggler.hidden-sm-up(type="button", data-toggle="collapse", data-target="#navigation")
      |&#9776;

    #navigation.collapse.navbar-toggleable-xs
      ul.nav.navbar-nav
        li.nav-item
          a.nav-link(href="#header")
           button(type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="HOME")
            i.fa.fa-home.fa-2x
        li.nav-item
          a.nav-link(href="#about")
            button(type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="ABOUT")
              i.fa.fa-id-card-o.fa-2x
        li.nav-item
          a.nav-link(href="#contact")
            button(type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="CONTACT")
              i.fa.fa-envelope.fa-2x
        li.nav-item
          a.nav-link(href="#portfolio")
            button(type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="PORTFOLIO")
              i.fa.fa-file-powerpoint-o.fa-2x
    //- header-//

  section#header
    .container-fluid
      .row.try
        .col-md-6.left.hidden-md-down
          h1 Front End Developer
          hr(align="left" width="79%" color="white")
        .col-md-6.right
          h1 Personal Portfolio
          hr(align="left" width="80%" color="white")
          p.lead - Carol Enache
      .row.chevron
        .col-md-12.text-xs-center
          a(href="#about")
            i.fa.fa-chevron-circle-down.faa-float.animated.faa-fast.fa-3x

        //- about
  section#about
    .container
      .row
        .col-md-12
          h1 about





